parameters:
  level: 3

  paths:
    - tests

  bootstrapFiles:
    - bootstrap/app.php

  excludePaths:
    - bootstrap/cache
    - storage

  ignoreErrors:
    - identifier: pest.expectation.redundant

  type_coverage:
    param: 0
    return: 0
    property: 0
