parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#3 \$managers of static method App\\Data\\TagTeams\\TagTeamMembershipData\:\:fromWrestlers\(\) expects Illuminate\\Database\\Eloquent\\Collection\|null, Illuminate\\Support\\Collection\<int, App\\Models\\Roster\\Managers\\Manager\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Data/TagTeams/TagTeamData.php

		-
			message: '#^Method App\\Data\\TagTeams\\TagTeamMembershipData\:\:fromWrestlers\(\) has parameter \$managers with generic class Illuminate\\Database\\Eloquent\\Collection but does not specify its types\: TKey, TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Data/TagTeams/TagTeamMembershipData.php

		-
			message: '#^Method App\\Data\\TagTeams\\TagTeamMembershipData\:\:getManagers\(\) return type with generic class Illuminate\\Database\\Eloquent\\Collection does not specify its types\: TKey, TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Data/TagTeams/TagTeamMembershipData.php

		-
			message: '#^Access to an undefined property App\\Models\\Users\\User\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Middleware/AddWrestlingContext.php

		-
			message: '#^Instanceof between Illuminate\\View\\View and Illuminate\\Contracts\\View\\View will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Livewire/Table/Column.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Livewire/Table/Column.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Livewire/Table/Filters/DateRangeFilter.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Livewire/Table/Filters/SelectFilter.php
