parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Enums\\MatchType\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Matches/AddMatchForEventAction.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Matches\\MatchCompetitor\>\:\:map\(\) expects callable\(App\\Models\\Matches\\MatchCompetitor, int\)\: Illuminate\\Support\\Collection\<int, App\\Models\\TagTeams\\TagTeam\|App\\Models\\Wrestlers\\Wrestler\>, Closure\(App\\Collections\\MatchCompetitorsCollection\)\: Illuminate\\Support\\Collection\<int, App\\Models\\TagTeams\\TagTeam\|App\\Models\\Wrestlers\\Wrestler\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Collections/MatchCompetitorsCollection.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Matches\\MatchCompetitor\>\:\:map\(\) expects callable\(App\\Models\\Matches\\MatchCompetitor, int\)\: int\<0, max\>, Closure\(App\\Collections\\MatchCompetitorsCollection\)\: int\<0, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Collections/MatchCompetitorsCollection.php

		-
			message: '#^Parameter \#3 \$managers of static method App\\Data\\TagTeams\\TagTeamMembershipData\:\:fromWrestlers\(\) expects Illuminate\\Database\\Eloquent\\Collection\|null, Illuminate\\Support\\Collection\<int, App\\Models\\Managers\\Manager\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Data/TagTeams/TagTeamData.php

		-
			message: '#^Method App\\Data\\TagTeams\\TagTeamMembershipData\:\:fromWrestlers\(\) has parameter \$managers with generic class Illuminate\\Database\\Eloquent\\Collection but does not specify its types\: TKey, TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Data/TagTeams/TagTeamMembershipData.php

		-
			message: '#^Method App\\Data\\TagTeams\\TagTeamMembershipData\:\:getManagers\(\) return type with generic class Illuminate\\Database\\Eloquent\\Collection does not specify its types\: TKey, TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Data/TagTeams/TagTeamMembershipData.php

		-
			message: '#^Access to an undefined property App\\Models\\Users\\User\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Middleware/AddWrestlingContext.php

		-
			message: '#^Access to an undefined property App\\Livewire\\Base\\BaseFormModal\<TForm of App\\Livewire\\Base\\BaseForm, TModel of Illuminate\\Database\\Eloquent\\Model\>\:\:\$form\.$#'
			identifier: property.notFound
			count: 4
			path: app/Livewire/Base/BaseFormModal.php

		-
			message: '#^PHPDoc tag @var for property App\\Livewire\\Base\\BaseModal\:\:\$modelForm with type \(TModelForm of App\\Livewire\\Base\\BaseForm\)\|null is not subtype of native type App\\Livewire\\Base\\BaseForm\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Livewire/Base/BaseModal.php

		-
			message: '#^Strict comparison using \=\=\= between TModelForm of App\\Livewire\\Base\\BaseForm and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Livewire/Base/BaseModal.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$first_name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/Managers/Components/Actions.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$last_name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/Managers/Components/Actions.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/Managers/Components/Actions.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$signature_move\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Managers/Components/Actions.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isEmployed\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Livewire/Managers/Components/Actions.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isInjured\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: app/Livewire/Managers/Components/Actions.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isRetired\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Livewire/Managers/Components/Actions.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isSuspended\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Livewire/Managers/Components/Actions.php

		-
			message: '#^Method App\\Livewire\\Managers\\Components\\Actions\:\:buildEntityLogData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Livewire/Managers/Components/Actions.php

		-
			message: '#^Method App\\Livewire\\Managers\\Components\\Actions\:\:executeActionWithContext\(\) has parameter \$actionParams with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Livewire/Managers/Components/Actions.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: app/Livewire/Matches/Forms/CreateEditForm.php

		-
			message: '#^Property App\\Livewire\\Matches\\Forms\\CreateEditForm\:\:\$competitors \(array\<int\>\) does not accept array\<int\<0, max\>, array\<string, array\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Livewire/Matches/Modals/FormModal.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: app/Livewire/Matches/Modals/FormModal.php

		-
			message: '#^Instanceof between Illuminate\\View\\View and Illuminate\\Contracts\\View\\View will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Livewire/Table/Column.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Livewire/Table/Column.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Livewire/Table/Filters/DateRangeFilter.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Livewire/Table/Filters/SelectFilter.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$first_name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/TagTeams/Components/Actions.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$last_name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/TagTeams/Components/Actions.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/TagTeams/Components/Actions.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$signature_move\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/TagTeams/Components/Actions.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isEmployed\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Livewire/TagTeams/Components/Actions.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isInjured\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: app/Livewire/TagTeams/Components/Actions.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isRetired\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Livewire/TagTeams/Components/Actions.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isSuspended\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Livewire/TagTeams/Components/Actions.php

		-
			message: '#^Method App\\Livewire\\TagTeams\\Components\\Actions\:\:buildEntityLogData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Livewire/TagTeams/Components/Actions.php
		-
			message: '#^Method App\\Livewire\\TagTeams\\Components\\Actions\:\:executeActionWithContext\(\) has parameter \$actionParams with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Livewire/TagTeams/Components/Actions.php
