@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
.layout1 {
    --sidebar-transition-duration: 0.3s;
	--sidebar-transition-timing: ease;
	--sidebar-default-width: theme('custom.layouts.layout1.sidebar.width.desktop');
	--header-height: theme('custom.layouts.layout1.header.height.desktop');
    --sidebar-collapsed-width: theme('custom.layouts.layout1.sidebar.width.desktopCollapse');
}

@media (max-width: theme('screens.lg')) {
	.layout1 {
        --sidebar-width: theme('custom.layouts.layout1.sidebar.width.mobile');
		--header-height: theme('custom.layouts.layout1.header.height.mobile');
	}
};

@layer base {
    :root {
        --page-bg: #fefefe;
    }
}
